@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HR Management App</h1>
    <br/>
    @if (User.IsInRole(Roles.User))
    {
        <h3>Welcome User</h3>
    }
    @if (User.IsInRole(Roles.Administrator))
    {
        <h3>Welcome Admin</h3>
    }
    @if (!User.IsInRole(Roles.Administrator) && !User.IsInRole(Roles.User))
    {
        <h3>Please login or register</h3>
        <h4>Admin Login using - Username: admin@localhost.com | Password: P@ssword1</h4>
        <h4>User Login using - Username: user1@localhost.com | Password: P@ssword1</h4>
    }
</div>
